body {
  height: 500;
  width: 300;
}

img {
  height : 250px;
  width: 270px;
  padding-top: 10px;
}

#download_all {
    font-size: 2em;
    padding-bottom: 10px;
    font-family: monospace;
    font-weight: 300;
}